<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Here, you'll find links to resources I use frequently, personal projects, and articles I've written.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kevin Harper | My Web Portal</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/80d69941fb.js"></script>
    
    <style>
      p {
        margin-right: auto;
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <p>Currently working on this pg's layout. For now, just a bunch of links.</p>
    
    <ul>
      <li>Tools
        <ul>
          <li><a href="https://help.ubuntu.com/lts/serverguide/lxd.html">LXD Documentation</a>
            <ul>
              <li><a href="https://us.images.linuxcontainers.org/">Image server for LXC & LXD</a></li>
            </ul>
          </li>
          <li><a href="https://docs.traefik.io/">Traefik</a>
            <ul>
              <li>
                <a href="https://www.digitalocean.com/community/tutorials/how-to-use-traefik-as-a-reverse-proxy-for-docker-containers-on-ubuntu-16-04">Traefik as Reverse Proxy for Docker Containers</a>
              </li>
            </ul>
          </li>
          <li><a href="https://hub.docker.com/">Docker Hub</a>
            <ul>
              <li><a href="https://hub.docker.com/_/traefik/">traefik</a></li>
              <li><a href="https://hub.docker.com/_/nginx/">nginx</a></li>
              <li><a href="https://hub.docker.com/_/postgres/">postgres</a></li>
              <li><a href="https://hub.docker.com/_/python/">python</a></li>
            </ul>
          </li>
          <li><a href="https://docs.python.org/3.6/">Python 3.6 Documentation</a></li>
            <ul>
              <li><a href="https://docs.djangoproject.com/en/2.0/">Django 2.0</a></li>
              <li><a href="https://gunicorn.org/#docs">gunicorn</a></li>
              <li><a href="https://matplotlib.org/contents.html#">matplotlib</a></li>
            </ul>
          <li><a href="https://fontawesome.com/">Font Awesome</a></li>
          <li><a href="https://semantic-ui.com/">Semantic UI</a></li>
          <li><a href="http://www.chartjs.org/">Chart.js</a></li>
        </ul>
      </li>
      <li>MIT
        <ul>
          <li><a href="https://search.mit.edu/search?site=ocw&client=mit&getfields=*&output=xml_no_dtd&proxystylesheet=https%3A%2F%2Focw.mit.edu%2Fsearch%2Fgoogle-ocw.xsl&requiredfields=WT%252Ecg_s%3ACourse+Home%7CWT%252Ecg_s%3AResource+Home&sectionlimit=WT%252Ecg_s%3ACourse+Home%7CWT%252Ecg_s%3AResource+Home&as_dt=i&oe=utf-8&departmentName=web&filter=0&courseName=&q=python&btnG.x=0&btnG.y=0#gsc.tab=0&gsc.q=python&gsc.page=1">Python courses</a></li>
          <li><a href="https://www.edx.org/course/introduction-to-computer-science-and-programming-using-python">Intro. to C.S. &amp; Programming Using Pythong</a></li>
        </ul>
      </li>
      <li>Tutorials
        <ul>
          <li><a href="http://www.postgresqltutorial.com/">PostgreSQL Tutorial</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS">Introduction to CSS</a></li>
            <ul>
              <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model">The box model</a></li>
            </ul>
          </li>
          <li><a href="https://www.tutorialspoint.com/git/index.htm">Git</a></li>
        </ul>
      </li>
      <li>Misc.
        <ul>
          <li><a href="https://www.youtube.com/watch?v=FNQxxpM1yOs">[Beginner] Django Web Development w/ Python</a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
